services:
  - type: web
    name: property-system
    env: node
    plan: free
    buildCommand: |
      cd backend
      npm install
    startCommand: |
      cd backend
      pm2-runtime start pm2.config.cjs --env production
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium
